<!DOCTYPE html>
<html>
  <head>
    <title>ExposingNsbm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="holy-grail">
    <header>header</header>
    <section class="body">
      <main class="content">
        <%= yield %>
      </main>
      <nav class="nav">
        nav
      </nav>
      <aside class="ads">
        ads
      </aside>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
